/node_modules

/pics/*.jpg
/pics/*.png

/logs/*.log
/logs/*.log.*

/media/*
*.ogg
*.ogv
*.webm
*.mp4
*.mov
*.flv

/tests/curl_scripts/*.tmp_body
/tests/curl_scripts/*.tmp_login
/tests/curl_scripts/*.tmp_login.bak