
module.exports = {
    application: {
        port: '5000',
        db: {
            url: 'mongodb://localhost:27017/mediaviewer'
        },
        x64: false
    },
    logging: {
        level: 'info',
        db: {
            database: 'mediaviewer_logs',
            port: '27017',
            host: 'localhost'
        },
        logFileRolling: 'logs/application.log',
        logFileExcpetion: 'logs/exceptions.log'
    }  
};
